.wrapper {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  color: black;
}

.inner_wrapper {
  position: relative;
  height: calc(100% - 102px);
  width: 100vw;
  margin: 1rem 0;
  padding: 1rem 5rem;
  color: black;

}
#vanta{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0%;
  color: black;
}


